{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daybook - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bts\css\bootstrap.minu.css' %}">
    <link rel="stylesheet" href="{% static 'bts\css\style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary  p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><h3>Daybook</h3></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              
              {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
              
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="">Customers</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'addcontact' %}">Add Customer</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Lphone' %}">Login-with-Phone</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
              {% endif %}
             

            </ul>
            {% if user.is_authenticated %}
            
            <div class="d-flex .w-suto">
                <h3><a  class="btn btn-outline-warning mx-auto" href="{% url 'logout' %}">Logout</a>
                  </h3>&nbsp;&nbsp;
            </div>
            <div class="d-flex gap-3">
                <h3><a class="nav-link active text-white" href="#">{{user.username}}</a></h3>

            </div>
            {% endif %}
          </div>
        </div>
      </nav>


      {% block body %}
      {% endblock %}
</body>
</html>