{% extends 'base.html' %}
{% block title %}
Expences
{%endblock%}
{% block body %}

<div class="container">
    <a class="btn btn-warning mt-2" href="{% url 'addexpence' %}">Add Expence</a>
    {% if expences %}
    {% for expence in expences %}

    <h3>Expence Details {{expence.c_name}}</h3>
    {% endfor %}

    {% endif %}

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">C_name</th>
            <th scope="col">Expence_title</th>
            <th scope="col">Amount</th>
            <th scope="col">Date of Expence</th>
            </tr>
        </thead>
        <tbody>
            {% for expence in expences %}

                <tr class="table-active">
                    <td>{{expence.c_name}}</td>
                    <td>{{expence.expence}}</td>
                    <td>{{expence.amount}}</td>
                    <td>{{expence.Entry_date}}</td>
                    <td><a class="btn btn-secondary" href="{% url 'editexpence' expence.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete' expence.id %}"> Delete</a>
                    </td>
                  
                    </td>
                </tr>

            {% endfor %}
           
        </tbody>
      </table>
    
</div>


{% endblock %}