<!-- Inherit The Base.html -->
{%  extends 'base.html' %}

<!-- Give The Name title -->
{% block title %}
Welcome
{% endblock %}


{% block body %}
<!-- <h2>Hello {{name}}</h2> -->
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <!-- <form action="" method="post">
          {% csrf_token %}
              <legend>Register</legend>
              <div class="form-group">
                <label class="form-label mt-4">Name </label>
                <input type="text" class="form-control" placeholder="Enter Name" name="username">
              </div>
              <div class="form-group">
                <label class="form-label mt-4">Mobile</label>
                <input type="tel" class="form-control" placeholder="Enter Mobile" name="mobile">
              </div>
              <div class="form-group">
                <label class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label class="form-label mt-4">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="pass1">
              </div>
              <div class="form-group">
                <label class="form-label mt-4">Confirm Password</label>
                <input type="password" class="form-control"  placeholder="Password" name="pass2">
              </div>
              <button type="submit" class="btn btn-primary mt-2">Submit</button>
              <div class="form-group">
                <label class="form-label mt-4">If You have already regstered.<a class="" href="#">Login</a> </label>
              </div>

          </form> -->

          <form action="" method="post">
            <legend>Register here</legend>
            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                               <p> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
            {% csrf_token %}
            {{form}}

            <button type="submit" class="btn btn-primary mt-2">Submit</button>
              <div class="form-group">
                <label class="form-label mt-4">If You have already regstered.<a class="" href="{% url 'login' %}">Login</a> </label>
              </div>
            
          </form>
    </div>
    <div class="col-3"></div>
</div>


{% endblock %}